@use '../util' as u;

.btn {
  font-family: var(--font-text);
  font-size: u.rem(18);
  line-height: 1;
  font-weight: 400;
  text-align: center;
  border-radius: 8px;
  padding: 10px 32px 10px;
  margin: 0;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }


  &__advocacy {
    color: var(--darkBlue);
    background-color: var(--white);
    border: 1px solid var(--white);

    &:hover {
      color: var(--darkBlue);
      background-color: var(--primaryYellow);
      border: 1px solid var(--primaryYellow);
    }
  }

  &__primary {
    color: var(--white);
    background-color: var(--darkBlue);
    border: 1px solid var(--darkBlue);

    &:hover {
      color: var(--darkBlue);
      background-color: var(--white);
      border: 1px solid var(--darkBlue);
    }
  }

  &__secondary {
    color: var(--white);
    background-color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue);

    &:hover {
      color: var(--primaryBlue);
      background-color: var(--white);
    }
  }

  &__tertiary {
    color: var(--white);
    background-color: var(--darkRed);
    border: 1px solid var(--darkRed);

    &:hover {
      color: var(--darkRed);
      background-color: var(--white);
    }
  }

  &__we {
    color: var(--white);
    background-color: var(--weFinancialDark);
    border: 1px solid var(--weFinancialDark);

    &:hover {
      color: var(--darkBlue);
      background-color: var(--white);
      border: 1px solid var(--weFinancial);
    }
  }

  &__primary,
  &__secondary,
  &__tertiary,
  &__advocacy,
  &__we {

    @include u.breakpoint-down(small) {
      display: block;
    }
  }

  &__search {
    border: 0;
    background-color: var(--white);
  }
}