@use '../util' as u;

.promo {

  &__boxes {
    display: flex;
    flex-direction: row;
    gap: u.rem(32);
    margin-bottom: u.rem(80);

    @include u.breakpoint-down(medium) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.savingProgram {

  &__priceDrop {
    background-image: url('/img/savingPromo_price_drop_bkgd_1920x400.jpg');
    // height: auto;
    // width: 100%;
    // object-fit: cover;
  }

  &__fullWidth {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include u.breakpoint-down(small) {
      height: u.rem(300);
    }
  }
}

.inStore {

  &__promo {

    margin-bottom: u.rem(80);
  }
}

.advocacy {
  background-color: var(--advocacyRed);
  margin-bottom: u.rem(80);

  &__text {
    font-size: 90px;
    line-height: 1;
    color: var(--white);
    margin-bottom: 0;
    display: block;

    h2 {
      font-size: u.rem(40);
      font-weight: 700;
      margin-bottom: u.rem(20);
    }

    h3 {
      font-size: u.rem(24);
      font-weight: 700;
      margin-bottom: u.rem(12);
    }
  }
}

.site {

  &__cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: u.rem(32);
    margin-bottom: u.rem(80);
    padding: 0;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      gap: 0;
    }

    p,
    ul {
      margin-bottom: 24px;
    }

  }

  .col1 {
    @include u.breakpoint-down(small) {
      margin-bottom: u.rem(80);
    }
  }

  .col1,
  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    }
  

  &__img {
    margin-bottom: 24px;
  }

  &__text {
    padding: 0 24px;

    &--callout {
      color: var(--primaryBlue);
      font-weight: 700;
    }
  }
}

.hhf {

  &__textLink {
    color: var(--darkBlue);

    &:hover {
      color: var(--primaryOrange);
    }
  }
}

.we {

  &__cardList ul li {
    margin-bottom: 20px;
  }

  &__cardList li {
    margin-bottom: 16px;
  }
}

.toc {
  margin-bottom: u.rem(80);

  &__row1 {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
}