@use '../util' as u;

.hero {

  &__section {
    background-color: var(--darkBlue);
    margin-top: u.rem(100);

    @include u.breakpoint-down(small) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: u.rem(450);
    }

    &--intro {
      // height: 100vh;
      margin-bottom: u.rem(80);
    }
  }

  &__text {
    // font-size: 90px;
    font-size: 3rem;
    font-size: clamp(3rem, 1.50rem + 5vw, 5.5rem);
    line-height: 1;
    letter-spacing: 0.5px;
    color: var(--white);
    border-left: 20px solid var(--white);
    padding-left: 25px;
    margin-bottom: 0;
    display: block;


    @include u.breakpoint-down(small) {
      margin-top: u.rem(120);
    }
  }

  &__image {
    height: 100vh;
    // width: 100vw;
    object-fit: cover;
    margin-top: u.rem(100);
  }
}

.hero.full-width-split-screen {
  padding-top: 144px;
}

.full-width-split-screen {
  padding-block: 0;
}

.full-width-split-screen > :not(img) {
  padding-block: var(--wrapper-padding-block);
  padding-inline: var(--wrapper-padding-inline);
}

@media (min-width: 930px) {
  .full-width-split-screen {
    display: grid;
    grid-template-columns: 
      minmax(var(--wrapper-padding-inline), 1fr) 
      minmax(0, calc(var(--wrapper-max-width) / 2)) 
      minmax(0, calc(var(--wrapper-max-width) / 2)) 
      minmax(var(--wrapper-padding-inline), 1fr);
    position: relative;
  }

  .full-width-split-screen > img:first-child {
    grid-column: 1 / 3;
  }

  .full-width-split-screen > img:last-child {
    grid-column: 3 / -1;
  }

  .full-width-split-screen > :not(img) {
    display: grid;
    align-content: center;
    justify-items: start;
  }

  .full-width-split-screen > :not(img):first-child {
    grid-column: 2 / 3;
    padding-left: u.rem(24);
    padding-right: clamp(1rem, 5vw, 3rem);
  }

  .full-width-split-screen > :not(img):last-child {
    grid-column: 3 / 4;
    padding-right: u.rem(24);
    padding-left: clamp(1rem, 5vw, 3rem);
  }

  .full-width-split-screen > :not(img)::before {
    content: '';
    position: absolute;
    inset: 0;
    grid-row: 1 / 2;
    background-color: inherit;
  }

  .full-width-split-screen > :not(img):first-child::before {
    grid-column: 1 / 2;
  }

  .full-width-split-screen > :not(img):last-child::before {
    grid-column: 4 / 5;
  }
}
