@use '../util' as u;

.hero {

  &__section {
    margin: u.rem(100) 0 u.rem(16);
    max-height: u.rem(560);
    overflow: hidden; 

    @include u.breakpoint-down(medium) {
      margin-top: u.rem(80);
      padding: 0;
      max-height: 100%;
    }

    &--fw {
      background-repeat: no-repeat; 
      background-position: top;
      background-size: cover; 
      left: 50%; 
      padding: 0; 
      position: relative;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-top: 100px; 
      margin-bottom: 16px; 
      height: 350px;
      overflow: hidden; 
      // clear: both;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }

    @include u.breakpoint-down(small) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80vh;
      // padding: u.rem(200) u.rem(40) u.rem(40);
      margin-top: 0;
    }

    &--intro {
      max-height: 90vh;
    }

    &__text {
  
      @include u.breakpoint-down(small) {
        margin-top: u.rem(120);
      }
    }

    &--image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      // margin-top: u.rem(100);
  
      @include u.breakpoint-down(medium) {
        // width: 100%;
        height: 60%;
        margin-top: 0;
      }
    }

    &--index {
      color: var(--white);
      background-color: var(--darkBlue);
      width: 100%;
      display: block;
      position: relative;
      overflow: hidden;
      margin: u.rem(115) 0;
      width: 100%;
      height: 90vh;

      @include u.breakpoint-down(small) {
        margin: 0 0 u.rem(80);
        // max-height: 60%;
        height: 100vh;
      }
    }

    &--waystoSave {
      background-color: var(--lightYellow);
      color: var(--primaryBlue);
      // margin-top: u.rem(120);
    }

    &--community {
      background-color: var(--lightBlue);
      color: var(--primaryBlue);
      // margin-top: u.rem(120);
    }

    &--healthyHorizons {
      background-color: var(--lightGreen);
      color: var(--darkGreen);
    }

    &--hhfAbout {
      background-image: url(../img/hero_fw_hhfAbout_3840x1000.jpg);
    }

    &--recipes {
      background-image: url(../img/hero-fw_recipes_3840x1000.webp);
    }

    &--ncrAbout {
      background-image: url(../img/hero_fw_aboutNCR_3840x1000.webp);
    }

    &--priceDrop {
      background-image: url(../img/hero_fw_pricedrop_3840x1000.webp);
    }

    &--hhfTextBkgd,
    &--communityTextBkgd,
    &--aboutTextBkgd,
    &--priceDropBkgd {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 40%;
      padding: 24px 24px 16px 24px;
      margin-left: 10%;
      margin-bottom: 20px;

      @include u.breakpoint-down(medium) {
        width: 65%;
        margin: 0;
      }

      @include u.breakpoint-down(small) {
        width: 100%;
        position: absolute;
        margin: 0;
        bottom: 0;
      }

      h1 {
        // font-size: 48px;
        // margin-bottom: 0;
        font-size: u.rem(40);
        font-size: clamp(u.rem(40), u.rem(32) + 1vw, u.rem(48));
        line-height: 1;
        margin-bottom: 0;
      }

      h2 {
        font-size: u.rem(26);
        font-size: clamp(u.rem(26), u.rem(24) + -0.5vw, u.rem(28));
        font-weight: 700;
        margin-bottom: 8px;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 16px;
      }
    }

    &--hhfTextBkgd {
      background-color: var(--lightGreen);

      h1 {
        color: var(--darkGreen);
      }

      h2 {
        color: var(--darkGreen);
      }
    }

    &--communityTextBkgd {
      background-color: var(--lightBlue);

      h1 {
        color: var(--primaryBlue);
      }

      h2 {
        color: var(--primaryBlue);
      }
    }

    &--aboutTextBkgd {
      background-color: var(--darkBlue);

      h1 {
        color: var(--white);
      }
    }

    &--priceDropBkgd {
      background-color: var(--lightYellow);

      h1,
      h2,
      h3 {
        color: var(--primaryBlue);
      }
    }


    &--about {
      background-color: var(--primaryBlue);
      color: var(--white);
    }
  }

  &__index {
    // font-size: u.rem(54);
    // font-size: clamp(u.rem(54), 2.10rem + 4.25vw, u.rem(88));
    font-size: u.rem(40);
    font-size: clamp(u.rem(40), u.rem(16) + 7vw, u.rem(80));
    border-left: 20px solid var(--white);
    color: var(--white);
    display: block;
    letter-spacing: .5px;
    line-height: 1;
    margin-bottom: 0;
    padding-left: 25px;
  }

  &__text {
    // font-size: 90px;
    // font-size: 3rem;
    // font-size: clamp(3rem, 1.50rem + 5vw, 5.5rem);
    // line-height: 1;
    // letter-spacing: 0.5px;
    // color: var(--white);
    // border-left: 20px solid var(--white);
    // padding-left: 25px;
    // margin-bottom: 0;
    // display: block;
    // color: var(--white);
    // display: block;
    // font-size: 90px;
    // line-height: 1;
    // margin-bottom: 0;
    // max-height: u.rem(560);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 110px 0 20px 2.5rem;
}

    h1 {
      color: var(--white);
  margin-bottom: 0.25;
    }
    h2 {
      font-size: 24px;
      font-weight: 400;
      color: var(--primaryBlue);
    }

    @include u.breakpoint-down(small) {
      // margin-top: u.rem(120);
    }

    &__head {
      font-size: u.rem(42);
      font-size: clamp(u.rem(42), 2.10rem + 1.75vw, u.rem(56));
      font-weight: 700;
      margin-bottom: 0;
    }

    &__subhead {
      font-size: u.rem(24);
      font-weight: 500;
      line-height: 1.3;
    }
  }

.hero.full-width-split-screen {
  padding-top: 144px;
}

.full-width-split-screen {
  padding-block: 0;
}

// figure.priceDrop-cashscreen {
//   padding-top: 0 !important;
// }




.full-width-split-screen > :not(img) {
  padding-block: var(--wrapper-padding-block);
  padding-inline: var(--wrapper-padding-inline);

  @include u.breakpoint-down(medium) {
    padding-block: 0;
    padding-inline: 0;
    // padding: u.rem(135) u.rem(80) u.rem(80);
    padding: u.rem(110) u.rem(0) u.rem(40) u.rem(20);
  }

  @include u.breakpoint-down(small) {
    padding-block: 0;
    padding-inline: 0;
    padding: u.rem(200) u.rem(24) u.rem(40);
  }
}

.full-width-split-screen > :not(img) .priceDrop-cashscreen {
  padding-top: 0;
}

@media (min-width: 930px) {
  .full-width-split-screen {
    display: grid;
    grid-template-columns: 
      minmax(var(--wrapper-padding-inline), 1fr) 
      minmax(0, calc(var(--wrapper-max-width) / 2)) 
      minmax(0, calc(var(--wrapper-max-width) / 2)) 
      minmax(var(--wrapper-padding-inline), 1fr);
    position: relative;
  }

  .full-width-split-screen > img:first-child {
    grid-column: 1 / 3;
  }

  .full-width-split-screen > img:last-child {
    grid-column: 3 / -1;
  }

  .full-width-split-screen > :not(img) {
    display: grid;
    align-content: center;
    justify-items: start;
  }

  .full-width-split-screen > :not(img):first-child {
    grid-column: 2 / 3;
    padding-left: u.rem(24);
    padding-right: clamp(1rem, 5vw, 3rem);
    // max-height: u.rem(560);
  }

  .full-width-split-screen > :not(img):last-child {
    grid-column: 3 / 4;
    padding-right: u.rem(24);
    padding-left: clamp(1rem, 5vw, 3rem);
  }

  .full-width-split-screen > :not(img)::before {
    content: '';
    position: absolute;
    inset: 0;
    grid-row: 1 / 2;
    background-color: inherit;
  }

  .full-width-split-screen > :not(img):first-child::before {
    grid-column: 1 / 2;
  }

  .full-width-split-screen > :not(img):last-child::before {
    grid-column: 4 / 5;
  }
}