@use '../util' as u;

.indexRecipes {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 u.rem(24);
  margin-bottom: u.rem(80);

  @include u.breakpoint-down(small) {
    padding: 0;
    margin-bottom: u.rem(40);
  }
}

.indexRecipe {

  &__textBlock {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    background-color: var(--white60);
    width: u.rem(500);
    height: u.rem(200);
    border-radius: 0 10px 0 0;
    padding: 16px 24px 16px 16px;

    @include u.breakpoint-down(small) {
      position: relative;
      width: 100%;
      height: auto;
      padding: u.rem(16) u.rem(15);
    }
  }

  &__head {
    font-size: u.rem(16);
    margin-bottom: 8px;
  }

  &__title {
    // font-size: u.rem(40);
    // font-size: u.rem(24);
    // font-size: clamp(u.rem(24), u.rem(19) + 2vw, u.rem(40));
    font-size: u.rem(20);
    font-size: clamp(u.rem(20), u.rem(12) + 1.5vw, u.rem(32));
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
  }

  &__description {
    font-size: u.rem(16);
    margin-bottom: 8px;
  }

  &__link {
    font-size: u.rem(18);
    margin-bottom: 0;

    a {
      text-decoration: underline;
      color: var(--black);

      &:hover {
        color: var(--primaryRed);
        cursor: pointer;
      }
    }
  }
}

.recipe {

  &__intro {
    margin-bottom: u.rem(80);
  }

  &__description {
    margin-bottom: u.rem(40);
  }

  &__menu {
    font-size: u.rem(20);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: u.rem(80);
    border-top: 1px solid var(--primaryBlue);
    padding-top: u.rem(40);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: u.rem(24);

    &--all {
      color: var(--primaryBlue);
      grid-column: span 3;
    }
    &--breakfast {
      color: var(--primaryGreen);
    }
    &--lunch {
      color: var(--primaryRed);
    }
    &--dinner {
      color: var(--darkYellow);
    }
    &--soups {
      color: var(--darkOrange);
    }
    &--sides {
      color: var(--darkBlue);
    }
    &--snacks {
      color: var(--darkGreen);
    }
  }

  &__dot {
    height: u.rem(20);
    width: u.rem(20);
    border-radius: 50%;
    display: inline-block;

    &--all {
      background-color: var(--primaryBlue);
    }
    &--breakfast {
      background-color: var(--primaryGreen);
    }
    &--lunch {
      background-color: var(--primaryRed);
    }
    &--dinner {
      background-color: var(--darkYellow);
    }
    &--soups {
      background-color: var(--darkOrange);
    }
    &--sides {
      background-color: var(--darkBlue);
    }
    &--snacks {
      background-color: var(--darkGreen);
    }
  }

  &__index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: u.rem(80);

    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
    }

    &--card {
      border: 1px solid var(--darkBlue);

      &:hover {
        box-shadow: 0 0 10px var(--darkBlue);
      }
    }

    &--img {
      width: 100%;
    }

    &--text {
      padding: u.rem(24);
    }


    &--serves,
    &--prep {
      font-size: u.rem(18);
      margin: 0;
    }
  }

  &__single {
    margin-bottom: u.rem(80);

    &--head {
      font-size: u.rem(40);
      color: var(--primaryBlue);
      font-weight: 700;
    }
  }

  &__hero {
    margin-bottom: u.rem(40);
  }

  &__prep {
    margin-bottom: u.rem(80);
  }

  &__instructions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
    }

    &--col1,
    &--col2 {
      padding: 0 u.rem(24);

      @include u.breakpoint-down(small) {
        padding: 0;
      }
    }

    &--col1 {

    }

    &--col2 {
      
    }

    h3 {
      font-size: u.rem(32);
      color: var(--primaryBlue);
      font-weight: 700;
      margin-bottom: u.rem(32)
    }
  }

  &__ingredients,
  &__preperation {
    list-style-type: none;

    li {
      margin-bottom: u.rem(32);
    }
  }

  &__ingredients {

  }

  &__preperation {

  }
}

.recipe__index--text a {
  text-decoration: none;
}

a > .recipe__index--head {
  font-size: u.rem(24);
  margin-bottom: u.rem(16);
  color: var(--darkBlue);
  font-weight: 700;

  &:hover {
    color: var(--primaryOrange);
  }
}