@use '../util' as u;

.topnav {
  margin: 0;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: u.rem(144);
    overflow: visible;
    position: relative;
    z-index: 400;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: u.rem(40);
    list-style-type: none;
    margin-bottom: 32px;
    padding: 0;


    @include u.breakpoint-down(medium) {
      flex-direction: column;
      align-items: left;
    }
  }

  &__link {
    display: block;
    font-size: u.rem(18);
    line-height: 1;
    font-weight: 400;
    color: var(--primaryBlue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--darkOrange);
      cursor: pointer;
    }

  }
}


// .topnav {


//   &__links {
//     display: flex;
//     flex-direction: row;
//     gap: u.rem(32);

//     @include u.breakpoint-down(medium) {
//       flex-direction: column;
//       align-items: left;
//     }
//   }

//   &__link {
//     display: block;
//     font-size: u.rem(18);
//     line-height: 1;
//     font-weight: 400;
//     color: var(--primaryBlue);
//     text-decoration: none;

//     &:hover {
//       text-decoration: underline;
//       cursor: pointer;
//     }
//   }
// }

// .header {
//   width: 100%;
//   height: auto;
//   background-color: var(--white);
//   box-shadow: 0 0 u.rem(24) var(--black);

//   ul {

//     li {
//       list-style-type: none;
//     }
//   }
// }

// .siteBranding {
//   background-color: var(--primaryBlue);
//   box-shadow: 0 0 u.rem(24) var(--black);

//   img {
//     margin: u.rem(112) 0 u.rem(8);
//     padding: 0 u.rem(8);
//   }
// }
.mySearch {
  width: 400px;
}

.topLinks {
  display: flex;
  flex-direction: row;
  gap: u.rem(48);
  list-style-type: none;
  margin-top: 24px;
  padding: 0;
  color: var(--primaryBlue);

  &__lang {

    &--active {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__location,
  &__email,
  &__flyer {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}


// .nav {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }