@use '../util' as u;

.topnav {
  // background-color: var(--header-bg);
  // box-shadow: 0 0 1.5rem var(--black);
  width: 100vw;
  z-index: 900;
  // position: absolute;

  @include u.breakpoint-down(medium) {
    // background-color: var(--header-bg);
    // box-shadow: 0 0 1.5rem var(--black);
    // border-radius: 0 0 20px 20px;
    // height: auto;
    // translate: 0 -120%;
    // transition: translate 400ms ease-in-out;

    // &[aria-expanded='true'] + .topnav {
    //   translate: 0 0;
    // }
  }

  &__container {
    position: relative;
    margin-inline: auto;
    max-width: var(--wrapper-max-width);
  }

  &__wrapper {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    // align-items: center;
    // position: relative;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;

    @include u.breakpoint-down(medium) {
      // justify-content: center;
      margin-inline: 0;
    }
  }

  &__branding {
    background-color: var(--primaryBlue);
    box-shadow: 0 0 u.rem(24) var(--black);
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 999;
  }

  &__homelink {
    display: inline-block;
  }

  &__logo {
    padding: 72px 16px 12px;

    &:hover {
      opacity: 0.8;
      transform: opacity 250ms ease-in-out;
    }

    img {
      margin: u.rem(112) 0 u.rem(8);
      padding: 0 u.rem(8);
    }
  }

  &__overlay {
    @include u.breakpoint-down(small) {
      position: fixed;
      inset: 0;
      background-color: var(--menu-overlay);
      opacity: 0;
      pointer-events: none;
      transition: opacity ease-in-out;

      &:has(+ .topnav__open[aria-expanded='true']){
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__open,
  &__close {
    background: transparent;
    // padding: 0;
    border: 0;
  }

  &__open {
    position: fixed;
    margin-inline-start: u.rem(325);
    padding-top: u.rem(24);
    display: none;

    @include u.breakpoint-down(medium) {
      display: flex;
      justify-content: flex-end;
      // width: 100%;
      // margin: 0 u.rem(40) 0 0;
    }

      &[aria-expanded='true'] + .topnav__menu {
      translate: 0 0;

      @media (prefers-reduced-motion) {
        opacity: 1;
      }
    }
  }

  &__close {
    display: none;

    @include u.breakpoint-down(medium) {
      display: flex;
      justify-content: flex-end;
      // margin-inline-start: 365px;
      margin-block-end: 120px;
      padding-top: 1.25rem;
      width: 100%;
    }

    img {
      display: block;
    }
  }

&__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: u.rem(32);
  
  @include u.breakpoint-down(medium) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // position: fixed;
    inset: 0 0 auto 0;
    background-color: var(--header-bg);
    border-radius: 0 0 20px 20px;
    padding: 0 24px;
    width: 100vw;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 1.5rem var(--black);
    translate: 0 -120%;
    transition: translate ease-in-out;

    @media (prefers-reduced-motion) {
      translate: 0;
      opacity: 0;
      transition-property: opacity;
    }
  }
}

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;
    margin: 0;
    padding: 0;

    @include u.breakpoint-down(medium) {
      // flex-direction: column;
      // align-items: flex-start;
      width: 100%;
      gap: 24px;
      // margin-bottom: u.rem(32);
      margin-bottom: 0;
      padding-bottom: u.rem(32);
      border-bottom: 2px solid var(--primaryBlue);
      padding: u.rem(24);
    }

    @include u.breakpoint-down(small) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: u.rem(16);
      padding-bottom: u.rem(16);
      border-bottom: 2px solid var(--primaryBlue);
    }
  }

  &__navLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    // gap: u.rem(32);
    margin: 0;
    padding: 16px 24px 0 0;
    // max-height: 144px;
    overflow: visible;
    position: relative;
    z-index: 500;

    @include u.breakpoint-down(medium) {
      // margin-top: u.rem(100);
      padding: 0;
      // max-height: 100%;
      max-height: 0;
      align-items: center;
    }

    @include u.breakpoint-down(small) {
      width: 100%;
    }

    &--hidden {
      max-height: u.rem(100);
      align-items: flex-end;
    }

  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
    padding-bottom: u.rem(16);

    @include u.breakpoint-down(medium) {
      gap: 16px;
      padding: u.rem(30) 0;
      width: 100%
      // flex-direction: column;
      // align-items: flex-start;
    }

    @include u.breakpoint-down(small) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      // margin-top: u.rem(200);
      padding: 0 u.rem(30) u.rem(40);
    }
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    font-size: u.rem(18);
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: var(--primaryBlue);
    text-decoration: none;

    @include u.breakpoint-down(medium) {
      font-size: u.rem(16);
    }



    &:hover,
    &:active {
      color: var(--darkOrange);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
      cursor: pointer;
    }
  
    &--icon {
      margin-right: 10px;
    }
  }
}

.nav {

  &__item {
    // margin: rem(10) 0;

    &:hover,
    &:focus {

        ul.sub-menu {
            width: 100%;

            @include u.breakpoint(medium) {
                width: 100%;
                opacity: 1;
                visibility: visible;
                display: flex;
                flex-direction: column;
                min-width: u.rem(250);
                position: absolute;
                left: 100%;
                transform: translateX(-40%);
                margin-top: u.rem(8);
                list-style-type: none;
                padding: u.rem(8) 0;
                border-radius: 0 0 u.rem(5) u.rem(5);
                width: 100%;
            }
        }
    }

    // @include breakpoint-down(medium) {
    //     padding-bottom: rem(25);
    // }
}
  
  &__item a::after {
    border-radius: em(1); 
    border-top: em(3) solid var(--white);
    content: '';
    position: absolute;
      right: 100%;
      bottom: -em(8);
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
                border-color .4s ease-out;
  }
  
  &__item a:hover {
    // color: var(--white);
    // text-decoration: none;
  }
  
  &__item a:hover::after {
    animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
    border-color: var(--white);
  }

  &__item--lc {
      font-weight: 400;
      text-transform: none;
  }

  &__toggle {
    width: u.rem(36);
    margin-right: u.rem(10);
    position: relative;
    cursor: pointer;

    > span {
        display: block;
        width: u.rem(26);
        height: u.rem(2);
        background-color: var(--darkBlue);
        transition: all 300ms ease-in-out;
        transform-origin: u.rem(3) u.rem(1);

        &:not(:last-child) {
            margin-bottom: u.rem(5);
        }
    }
}
}

.sub-menu[aria-hidden="true"] {
  display: none;
}

.sub-menu {
  // padding-left: 0;
  display: none;
  position: absolute;
  top: u.rem(16);
  background-color: var(--white);

  @include u.breakpoint-down(medium) {
    position: relative;
    width: u.rem(250);
    display: none;
    top: u.rem(8);
    margin-bottom: u.rem(24);
  }

  li a {
    line-height: u.rem(30);
    text-decoration: none;
    color: var(--primaryBlue);
    font-weight: 400;
    letter-spacing: .5px;

    &:hover {
      color: var(--darkOrange);
      text-decoration: underline;
      text-decoration-thickness: auto;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
      cursor: pointer;
    }
  }
}

.has-sub-menu {
  display: flex;
  flex-direction: column;
  position: relative;

  // &:hover {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   list-style-type: none;
  //   // padding: u.rem(1);
  //   // margin: 2.1875rem auto 0;
  //   // width: 100vw;
  //   opacity: 1;
  //   visibility: visible;
  // }
}

.subitem {
  padding: u.rem(8) 0 0 u.rem(8);
}

// .sub-menu {
//   align-items: center;
//   background-color: var(--primaryYellow);
//   display: none;
//   justify-content: center;
//   padding: 0;
//   position: absolute;
//   text-align: center;
//   top: 1.5625em;
// }

.has-sub-menu {
  display: flex;
  flex-direction: column;
  position: relative;

  ul.sub-menu {
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out;

    @include u.breakpoint-down(medium) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.subitem {
  padding: u.rem(8) 0 0 u.rem(8);
}

.has-sub-menu {
  display: flex;
  flex-direction: column;
  position: relative;

  ul.sub-menu {
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out;

    @include u.breakpoint-down(medium) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.sub-menu-active .sub-menu {
  @include u.breakpoint-down(medium) {
    display: block;
    list-style-type: none;

  }
}

.nav__item.has-sub-menu.sub-menu-active {
  background-color: transparent;
}