@use '../util' as u;


.wrapper {
	width: min(100% - u.rem(30), u.rem(1280));
	max-width: var(--wrapper-max-width);
	margin-inline: auto;
	// padding-inline: var(--wrapper-padding-inline);
	// padding: 0 24px;
	// padding-block: var(--wrapper-padding-block);

		// &__header {
		// 	max-width: u.rem(1280);
		// 	width: 100%;
		// 	height: 144px;
		// 	margin: 0 auto;
		// 	display: grid;
		// 	grid-auto-columns: 1fr auto;
		// 	position: relative;
		// 	padding: 0;

		// 	@include u.breakpoint-down(medium) {
		// 		grid-template-rows: 40px 65px 2.2rem;
		// 	}
		// }

		// &__navigation {
		// 	background: transparent;
		// 	display: grid;
		// 	grid-row: 1/3;
		// 	grid-column: 2/2;
		// 	grid-template-columns: auto auto;
		// 	grid-template-rows: 40px 70px;
		// 	height: 144px;
		// 	margin-left: 0;
		// 	position: relative;
		// 	width: auto;
		// }

	@include u.breakpoint(large) {
		// padding-block: 60px;
	}

	&__singleCol {
		width: min(100% - u.rem(30), u.rem(648));
		max-width: var(--wrapper-max-width);
		margin-inline: auto;
	}

	&__footerNavigation {
		@include u.breakpoint-down(small) {
      padding: 0 u.rem(24);
    }
	}
}